<%- include("includes/head.ejs") %>
<body>
     <h1>This is home page of @ <%= q %></h1>
     <br>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ex praesentium eaque blanditiis labore officiis quis quisquam quos dolor fuga vero nesciunt dicta porro, in totam hic itaque, libero sunt.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium quo suscipit tempora dolore quas in nemo odio omnis. Cupiditate magnam fugiat deleniti sint dolorum quis delectus quos praesentium odit?
     Doloremque nisi rem facilis, earum quae sed, cupiditate placeat tenetur labore optio modi maiores aut exercitationem ullam, illum laborum maxime veniam iste quasi voluptates blanditiis ratione aperiam? Praesentium, doloribus vitae?
     Sint, laudantium fugiat dicta earum pariatur veniam odit. Recusandae est ad molestias quis facere blanditiis minus omnis officia! Accusamus quis deleniti dicta id corporis esse perspiciatis tenetur assumenda dignissimos iure!
     Nihil totam iste tenetur, at sapiente, doloribus ullam a laborum fugit veritatis pariatur. Officia a consectetur dignissimos placeat illo eius error inventore quisquam. Blanditiis rem accusamus quasi, molestiae unde fugiat.
     Ab provident placeat, ea natus officiis commodi dicta corrupti quibusdam velit impedit sit, nostrum vero quidem voluptatibus accusamus quae facere aspernatur. Voluptatem quod facilis quis explicabo adipisci nobis non voluptate.
    




     <%- include("includes/footer.ejs") %>
    </body>